body {
  color: white;
  background-color: black;
  text-align: justify;
}

#bodycss {
  scroll-behavior: smooth;
}

.viajes-chile-icon {
  width: 5%;
  height: 100%;
  float: left; /* Alinea la imagen a la izquierda dentro del primer elemento */
  margin-right: 5px; /* Agrega espacio entre la imagen y el texto */
}

section h2{
    text-align: center;
}
