body {
  color: white;
  background-color: black;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

#bodycss {
  scroll-behavior: smooth;
}

.viajes-chile-icon {
  width: 5%;
  height: 100%;
  float: left; /* Alinea la imagen a la izquierda dentro del primer elemento */
  margin-right: 5px; /* Agrega espacio entre la imagen y el texto */
}

section h2{
    text-align: center;
}

.footer-icons{
    font-size: 25px;
}

#destacados img{
    aspect-ratio: 4000/2667;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
